{% extends "base.html" %}
{% block title %}Seleção de Perfis — Streaming{% endblock %}
{% block content %}
<section class="nf-home-hero">
    <div class="nf-home-inner container">
        <h1>Quem está assistindo?</h1>

        <div class="nf-cards">
            {% for profile in perfis %}
            <div class="nf-card nf-profile-card">
                <a href="{{ url_for('perfil', user_id=profile.user_id) }}">
                    <img src="{{ url_for('static', filename=profile.avatar) }}" alt="{{ profile.nome }}">
                    <span>{{ profile.nome }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
